@{
    ViewData["Title"] = "Home Page";
}
<div id="playbackBar">
    <div class="playback-info">
        Now Playing: <span id="playingSong"></span>
        <button onclick="skipSong()">Skip</button>
    </div>
    <div class="progress-bar" id="progressBar"></div>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome To Tommify</h1> 
    <div class="btn-group-vertical btn-group-lg my-4 nav-links-container" role="group" aria-label="Main Navigation Links">
        <a class="btn btn-outline-secondary" asp-area="" asp-controller="Overview" asp-action="Index">
            <i class="bi bi-bar-chart-line-fill"></i> Overview
        </a>
        <a class="btn btn-outline-secondary" asp-area="" asp-controller="Overview" asp-action="MusicLibrary">
            <i class="bi bi-music-note-list"></i> Music Library
        </a>
        <a class="btn btn-outline-secondary" asp-area="" asp-controller="Album" asp-action="Index">
            <i class="bi bi-record-circle"></i> Album
        </a>
        <a class="btn btn-outline-secondary" asp-area="" asp-controller="Playlist" asp-action="Index">
            <i class="bi bi-music-note-beamed"></i> Playlist
        </a>
        <a class="btn btn-outline-secondary" asp-area="" asp-controller="Playlist" asp-action="MyPlaylists">
            <i class="bi bi-collection-play-fill"></i> My Playlists
        </a>
        <a class="btn btn-outline-secondary" asp-area="" asp-controller="Home" asp-action="Privacy">
            <i class="bi bi-shield-lock-fill"></i> Privacy
        </a>
    </div>




</div>