@model List<MusicApp_AdamKoen.ViewModels.AlbumViewModel>

<h2>Albums</h2>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Release Year</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var album in Model)
        {
            <tr>
                <td>@album.Title</td>
                <td>@album.ReleaseYear.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>
