@model List<MusicApp_AdamKoen.ViewModels.AlbumViewModel>
<div id="playbackBar">
    <div class="playback-info">
        Now Playing: <span id="playingSong"></span>
        <button onclick="skipSong()">Skip</button>
    </div>
    <div class="progress-bar" id="progressBar"></div>
</div>

<h2>Album</h2>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Release Year</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var album in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-controller="Album" asp-route-id="@album.Id">
                        @album.Title
                    </a>
                </td>
                <td>@album.ReleaseYear.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>
